bin*/
*.code-workspace
*.sublime-project
3rdparty*
.idea*
./*build*
*build*
xcode*
temp-plot.html
matlab/*.msh
matlab/*.stl
__pycache__
.DS_Store
/data
test/data
.cache/
.vscode/
app/tests/01-before.obj
app/tests/02-after.obj
app/tests/smooth_after_1.obj
app/triwild/smooth_after_1.obj
app/triwild/01-before.obj
docs/html
docs/latex
*.obj
*.out
*.exr
*.png
*.tar.gz
*.ipynb
*.hdf
*.hdf5
*.msh
*.vtu

components/wmtk_components/main/wmtk/components/spec_include.hpp
components/wmtk_components/main/wmtk/components/components_include.hpp
components/wmtk_components/main/wmtk/components/components_map.hpp
components/wmtk_components/main/wmtk/components/components.json
*_face_error.json
*_amips_error.json