[submodule "bijective_map/InteractiveAndRobustMeshBooleans"]
	path = bijective_map/InteractiveAndRobustMeshBooleans
	url = https://github.com/zlyfunction/InteractiveAndRobustMeshBooleans.git
	branch = for_wmtk
