{%- macro print_dimensions(data) %}
  {%- if data is sequence -%}
  [{{ data|length }}]{{ print_dimensions(data[0]) }}
  {%- endif -%}
{% endmacro -%}
const int64_t {{ table.name }}{{ print_dimensions(table.data) }}
